<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.6/phpunit.xsd"
    bootstrap="vendor/autoload.php"
    executionOrder="depends,defects"
    beStrictAboutOutputDuringTests="true"
    beStrictAboutTodoAnnotatedTests="true"
    cacheResultFile=".phpunit.cache/test-results"
    colors="true"
    failOnRisky="true"
    failOnWarning="true"
    verbose="true">
    <testsuites>
        <testsuite name="default">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <php>
        <env name="UNSWER_API_KEY"
            value="oat_MQ.cGQtUGk0YXJMZXU0b2Jxem5iMERRUUk0ckNCaDJtQTdVM2poUm5PbzM4MzA5ODc5MzI"
            force="true" />
        <env name="UNSWER_APP_ID" value="698f0d81-53d3-4d31-947f-d999544827ae" force="true" />
    </php>

    <coverage cacheDirectory=".phpunit.cache/code-coverage"
        processUncoveredFiles="true"
        ignoreDeprecatedCodeUnits="true">
        <include>
            <directory suffix=".php">src</directory>
        </include>

        <report>
            <html outputDirectory="reports" />
        </report>
    </coverage>
</phpunit>